extends layout

block content
    div#flex-panel
        img(src='icons/api.ico', alt='login', style='width:48px;height:48px;')
        h1(style="font-family: 'Tahoma'") #{eroor}
    pre Server status: #{serverStatus}